@media only screen and (max-width:500px){

    .m-height{
        background-color: #44b89d;
    }
    
    .login-signup-heading{
        padding-top: 30%;
        text-align: center;
        color: antiquewhite;
    
        .center-bold{
            font-weight: 600;
            font-size: 48px;
        }
    
        .tag-line {
            font-size: 14px;
            font-weight: 600;
            position: relative;
            bottom: 8px;
        
    }
    }
    
    .lr-nopad{
        padding:30% 25%;

        .top{
            font-size: 20px;
            font-weight: 600;
            margin-top: 14px;
        }
    
        .signin-top{
            padding:0px;
        }
    
        .password{
            padding: 0px;
    margin-top: 30px;
        }
    
        .offset-s3{
                /* margin-top: 11px; */
        width: 95%;
        padding: 1;
        height: 35px;
        margin-left: 14px;
        background-color: #ffffff;
    
        .sign-in{
            margin-left:20%;
            color:#44b89d;
        }
    
        }
    }

    .gender{
        margin-top: 25px;
    margin-left: 10px;

    .gender-top{

        font-size: 18px;
        font-weight: 600;
        margin-top: 14px;

    }
    }
    
   .male{
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    width: 45%;
    height: 35px;
    padding: 5px;
    font-size: 16px;
    background-color: #44b89d;
    text-align: center;
   }
    
   .female{
    border: 1px solid #bfb0b0;
    color: #877e7e;
    border-radius: 5px;
    width: 45%;
    height: 35px;
    padding:5px;

    font-size: 16px;
    /* background-color: #44b89d; */
    text-align: center;

   }

   .set-female{
    position: relative;
    left: 60%;
    bottom: 34px;
   }

   .date-top{

    font-size: 18px;
    font-weight: 600;
    margin-top: 14px;

}

.forward-arrow{
    height: 40px;
    padding-left: 19px 10px;
    width: 40px;
    padding: 10px 15px;
    background-color:#44b89d;
    border-radius: 50%;
    display: inline-block;
    color:#fff;
    float: right;
    margin-right: 60px;
}

.red-text{
    border-color:red;
    border-radius:5px
}

.plain-text{
    border-radius:5px
}
    
    
    
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    