@media only screen and (max-width:500px){
    
.outer-side{
    background-color: #44b89d;
    border: 2px solid #fff;
    height: auto;
    margin: 15px;

    img{
        padding: 10px;
        /* height: 100px; */
        width: 100%;
    }

    .author{
        margin-left: 10px;
    color: grey;
    }

    .date{
        float: right;
        position: relative;
        bottom: 25px;
        right: 10px;
    }
    .desc{
           /* border: 1px solid #fff; */
    width: 90%;
    /* color: #f2dcdc; */
    margin: 5px 15px;
    }
}

}