@media only screen and (max-width:500px){

.m-height{
    height:750px;
    background-color: #44b89d;
}

.login-signup-heading{
    padding-top: 30%;
    text-align: center;
    color: antiquewhite;

    .center-bold{
        color:#fff;
        font-weight: 600;
        font-size: 48px;
    }

    .tag-line {
        color:#fff;
        font-size: 14px;
        font-weight: 600;
        position: relative;
        bottom: 8px;
    
}
}

.lr-nopad{
    padding:30% 18%;

    .signin-top{
        padding:15px;

        .login{
            border-radius:5px;
        }
    }

    .password{
        padding:15px;
        

        .password-text{
            border-radius:5px;
            
        }
    }

    .offset-s3{
        margin-top: 15px;
    position: relative;
    left: 15px;
    border-radius: 5px;
    width: 82%;
    height: 28px;
    margin-left: 14px;
    background-color: #ffffff;

    .sign-in{
        margin-left:40%;
        color:#44b89d;
    }

    }
}




}












